{% extends 'layout/admin.html.twig' %}

{% block body %}

  <h1 class="page-name">
    <i class="bi bi-calendar-check"></i>
    {% if not entity|length %}
      {{ "Nouvelle pré-réservation"|trans }}
    {% else %}
      {{ "Editer une pré-réservation"|trans }}
    {% endif %}
  </h1>
<br />
<style>
  .port-title {
    background-color: #6c757d !important;
  }
  fieldset .col-form-label {
    margin-bottom: 8px;
  }
  .card-entry fieldset {
    margin-bottom: 0px !important;
  }
  .delete-entry {
    right: 15px;
  }
  .entries {
    counter-reset: compagne_counter;
  }
  .compagne-counter:before {
    counter-increment: compagne_counter;
    content: counter(compagne_counter);
    position: absolute;
    top: 5px;
    right: 45px;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--color-primary);
  }
</style>
 <ajax-form>
 {{ form_start(form) }}

    
<div class="row">
  <div class="col-sm-6">
    <h3 class="btn btn-danger text-withe">ENTREE</h3> 
    {{ form_row(form.dates_entree) }}
    {{ form_row(form.shift_entree) }} 
    <div id="div_trajet_entree" {% if entity and entity.isHomePickup %}style="display:none;" {% endif %}>{{ form_row(form.trajet_entree) }}</div>
    <div id="div_pickup_entree" {% if entity and entity.isHomePickup %}style="display:none;" {% endif %}>{{ form_row(form.pickup_entree) }}</div>
    <div id="div_adresse_entree" {% if entity and entity.isHomePickup!=1 %}style="display:none;" {% endif %}>{{ form_row(form.adresse_entree) }}</div>
    {% if form.repere_entree is defined %} {{ form_row(form.repere_entree) }}{% endif %}
    

  </div>
  <div class="col-sm-6">
    <h3 class="btn btn-danger text-withe">SORTIE</h3> 
     {{ form_row(form.dates_sortie) }}
     {{ form_row(form.shift_sortie) }} 
    <div id="div_trajet_sortie" {% if entity and entity.isHomePickup %}style="display:none" {% endif %}>{{ form_row(form.trajet_sortie) }} </div>
    <div id="div_pickup_sortie" {% if entity and entity.isHomePickup %}style="display:none" {% endif %}>{{ form_row(form.pickup_sortie) }} </div>
    <div id="div_adresse_sortie" {% if entity and entity.isHomePickup!=1 %}style="display:none;" {% endif %}>{{ form_row(form.adresse_sortie) }}</div>
    {% if form.repere_sortie is defined %} {{ form_row(form.repere_sortie) }}{% endif %}
   
  </div>
</div>
    
<hr class="border-2 border-top border-secondary">
    <button type="button" class="btn btn-outline-danger rounded-0 shadow-none" onclick="history.go(-1);">
      <i class="bi bi-x-lg"></i>
      {{ "Annuler"|trans }}
    </button>
    <button type="submit" class="btn btn-outline-secondary rounded-0 shadow-none  ">
      <i class="bi bi-check2-square"></i>
      {{ "Enregistrer"|trans }}
    </button>

{{ form_end(form) }}
</ajax-form>

{% endblock %}

{% block footer %}
  {{ parent() }}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js" type="text/javascript"></script>
 
 
  <script>
  document.querySelector("ajax-form").addEventListener("ajax.form.success", function() {
    setTimeout(function() {
      window.location.href = '{{ path("reservations") }}'
    }, 1000)
  })
  </script>

  <script>

  $('#reservation_shift_entree').change(function() {
    let shift_entree = $(this).val();
    console.log(shift_entree);
    if ( shift_entree < 8 || shift_entree > 20 ){
      console.log('show adresse and hide trajet');
      $('#div_trajet_entree').hide();
      $('#div_pickup_entree').hide();
      $('#div_adresse_entree').show();
    }
    else{
      console.log('show trajet and hide adress');
      $('#div_trajet_entree').show();
      $('#div_pickup_entree').show();
      $('#div_adresse_entree').hide();
    }
   }); 

   $('#reservation_shift_sortie').change(function() {
    let shift_sortie = $(this).val();
    console.log(shift_sortie);
    if ( shift_sortie < 8 || shift_sortie > 20 ){
      console.log('show adresse and hide trajet');
      $('#div_trajet_sortie').hide();
      $('#div_pickup_sortie').hide();
      $('#div_adresse_sortie').show();
    }
    else{
      console.log('show trajet and hide adress');
      $('#div_trajet_sortie').show();
      $('#div_pickup_sortie').show();
      $('#div_adresse_sortie').hide();
    }
   }); 


   
</script>
 
<script>


//var array = document.getElementsByTagName("input");

 if ( $('#reservation_dates_entree_0') ){
   $('#reservation_dates_entree_0').change(function() {
     $('#reservation_shift_entree').prop('disabled', false);
   }); 
 }

 if ( $('#reservation_dates_entree_1') ){
   $('#reservation_dates_entree_1').change(function() {
     $('#reservation_shift_entree').prop('disabled', false);
   }); 
 }

 if ( $('#reservation_dates_entree_2') ){
   $('#reservation_dates_entree_2').change(function() {
     $('#reservation_shift_entree').prop('disabled', false);
   }); 
 }

 if ( $('#reservation_dates_entree_3') ){
   $('#reservation_dates_entree_3').change(function() {
     $('#reservation_shift_entree').prop('disabled', false);
   }); 
 }

 if ( $('#reservation_dates_entree_4') ){
   $('#reservation_dates_entree_4').change(function() {
     $('#reservation_shift_entree').prop('disabled', false);
   }); 
 }

 if ( $('#reservation_dates_entree_5') ){
   $('#reservation_dates_entree_5').change(function() {
     $('#reservation_shift_entree').prop('disabled', false);
   }); 
 }

 if ( $('#reservation_dates_entree_6') ){
   $('#reservation_dates_entree_6').change(function() {
     $('#reservation_shift_entree').prop('disabled', false);
   }); 
 }

 if ( $('#reservation_dates_sortie_0') ){
   $('#reservation_dates_sortie_0').change(function() {
     $('#reservation_shift_sortie').prop('disabled', false);
   }); 
 }

 if ( $('#reservation_dates_sortie_1') ){
   $('#reservation_dates_sortie_1').change(function() {
     $('#reservation_shift_sortie').prop('disabled', false);
   }); 
 }

 if ( $('#reservation_dates_sortie_2') ){
   $('#reservation_dates_sortie_2').change(function() {
     $('#reservation_shift_sortie').prop('disabled', false);
   }); 
 }

 if ( $('#reservation_dates_sortie_3') ){
   $('#reservation_dates_sortie_3').change(function() {
     $('#reservation_shift_sortie').prop('disabled', false);
   }); 
 }

 if ( $('#reservation_dates_sortie_4') ){
   $('#reservation_dates_sortie_4').change(function() {
     $('#reservation_shift_sortie').prop('disabled', false);
   }); 
 }

 if ( $('#reservation_dates_sortie_5') ){
   $('#reservation_dates_sortie_5').change(function() {
     $('#reservation_shift_sortie').prop('disabled', false);
   }); 
 }

 if ( $('#reservation_dates_sortie_6') ){
   $('#reservation_dates_sortie_6').change(function() {
     $('#reservation_shift_sortie').prop('disabled', false);
   }); 
 }
 


  $('#reservation_trajet_entree').change(function() {
    let trajet_id = $(this).val();
    console.log(trajet_id);


    var selectElement = document.getElementById('reservation_pickup_entree');
    var options = selectElement.options;

    for (var i = 0; i < options.length; i++) {
      var option = options[i];
      var customAttribute = option.getAttribute('data-trajet') ? parseInt(option.getAttribute('data-trajet')) : 0;
      console.log('Option value:', option.value, 'Custom Attribute:', customAttribute);
      if ( customAttribute == trajet_id ){
       $(option).css("display", "block");
      }
      else {
       $(option).css("display", "none");
      }
    }
   }); 

   $('#reservation_trajet_sortie').change(function() {
    let trajet_id = $(this).val();
    console.log(trajet_id);

    var selectElement = document.getElementById('reservation_pickup_sortie');
    var options = selectElement.options;

    for (var i = 0; i < options.length; i++) {
      var option = options[i];
      var customAttribute = option.getAttribute('data-trajet') ? parseInt(option.getAttribute('data-trajet')) : 0;
      console.log('Option value:', option.value, 'Custom Attribute:', customAttribute);
      if ( customAttribute == trajet_id ){
       $(option).css("display", "block");
      }
      else {
       $(option).css("display", "none");
      }
    }
   }); 
</script>

 

{% endblock %}
