{% extends 'layout/admin.html.twig' %}

{% block body %}
  
  <div class="row mb-4">
    <div class="col-lg-9 col-9">
      <h1 class="page-name">
        <i class="bi bi-signpost"></i>
        {{ "Trajets"|trans }}
      </h1>
    </div>
    <div class="col-lg-3 col-3">
      <div class="float-end">
        <ajax-modal url="{{ path('trajets.create') }}" class="add-new">
          <button class="btn btn-outline-primary rounded-0 shadow-none">
            <i class="bi bi-plus"></i>
            <span class="d-none d-lg-inline-block">{{ "Ajouter"|trans }}</span>
          </button>
        </ajax-modal>

      </div>
    </div>
  </div>

  {% if not app.request.get('sortable') %}
    {% include "layout/form/search/index.html.twig" with { 
      form: search_form,
      tableId: "trajets" 
    } %}
  {% endif %}

  <ajax-table id="trajets" url="{{ path('trajets.table') }}" {% if app.request.get('sortable') %}sortable="trajets"{% endif %}>
    {{ table|raw }}
  </ajax-table>

{% endblock %}

{% block footer %}
  {{ parent() }}
  {% if app.request.get('sortable') %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  {% endif %}
{% endblock %}
