{% extends 'layout/auth.html.twig' %}

{% block body %}

  <section class="h-100">
    <div class="container h-100">
      <div class="row justify-content-sm-center h-100">
        <div class="col-sm-6">
          <div class="text-center my-5">
            <img src="{{ asset('assets/img/logo.png') }}" height="80">
          </div>
          <div class="card shadow-lg">
            <div class="card-body p-5">
              <h1 class="fs-4 card-title fw-bold mb-4">
                {{ "Réinitialiser le mot de passe"|trans }}
              </h1>
              {% for message in app.flashes('error') %}
                <div class="bd-callout bd-callout-danger">{{ message }}</div>
              {% endfor %}
              <form action="" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('password_new') }}">
                <div class="mb-3">
                  <label class="mb-2 text-muted" for="new_password">
                    {{ "Nouveau mot de passe"|trans }}
                  </label>
                  <input 
                    type="password" 
                    name="password" 
                    autocomplete="off"
                    class="form-control"
                    id="new_password"
                    required 
                  />
                </div>
                <div class="mb-3">
                  <label class="mb-2 text-muted" for="new_password_confirm">
                    {{ "Répétez le nouveau mot de passe"|trans }}
                  </label>
                  <input 
                    type="password" 
                    name="confirm" 
                    autocomplete="off"
                    class="form-control"
                    id="new_password_confirm"
                    required 
                  />
                </div>
                <div class="d-grid d-block">
                  <button type="submit" class="btn btn-primary">
                    {{ "Réinitialiser"|trans }}
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="text-center mt-5 mb-5 text-muted">
            {{ "%copy% %year% MADAEF"|trans({
              '%copy%':'&copy;',
              '%year%': "now"|date('Y')
            })|raw }}
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}