<div class="footer row bg-primary p-5">
  <h3 class=" text-center text-white p-3">MEDIA MAPS</h3>

  <div class="col-12 col-md-12 text-center mb-3">
				<ul class="list-inline mt-3 mt-md-0 mb-0">
					<li class="list-inline-item">
						<a href="#" target="_blank" title="Instagram" class="text-white fs-4 me-2"><i class="bi-instagram"></i></a>
					</li>
					<li class="list-inline-item">
						<a href="#" target="_blank" title="Facebook" class="text-white fs-4 me-2"><i class="bi-facebook"></i></a>
					</li>
					<li class="list-inline-item">
						<a href="#" target="_blank" title="Twitter" class="text-white fs-4 me-2"><i class="bi-twitter"></i></a>
					</li>
					<li class="list-inline-item">
						<a href="#" target="_blank" title="LinkedIn" class="text-white fs-4"><i class="bi-linkedin"></i></a>
					</li>
				</ul>
  </div>


  <ul class="text-center list-inline text-white">
  
    <li class="list-inline-item">
      <a href="{{ path('home') }}" class="text-white">{{ "Data protection"|trans }}</a>
    </li>
    <li class="list-inline-item">
      <a href="{{ path('home') }}" class="text-white">{{ "Terms and conditions"|trans }}</a>
    </li>
    <li class="list-inline-item">
      <a href="{{ path('home') }}" class="text-white">{{ "Legal Notice"|trans }}</a>
    </li>
    <li class="list-inline-item">
      <a href="{{ path('home') }}" class="text-white">{{ "How does it works ?"|trans }}</a>
    </li>
    <li class="list-inline-item">
      <a href="{{ path('home') }}" class="text-white">{{ "Press area"|trans }}</a>
    </li>
    <li class="list-inline-item">
      <a href="{{ path('home') }}" class="text-white">{{ "Affiliate program"|trans }}</a>
    </li>
    <li class="list-inline-item">
      <a href="{{ path('home') }}" class="text-white">{{ "Client Support"|trans }}</a>
    </li>
    <li class="list-inline-item">
      <a href="{{ path('home') }}" class="text-white">{{ "Newsletter"|trans }}</a>
    </li>
  </ul>
</div>
<style>
 .footer a{text-decoration:none;}
</style>



