<!DOCTYPE html>
<html lang="{{ app.request.getLocale() }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}MADAEF - {{ status_text|trans }}{% endblock %}</title>
  {% block head %}
    {{ encore_entry_link_tags('app') }}
    <style>
      body { background: #f1f4f9; font-family: arial; }
      .status-code { font-size: 12rem; line-height: 12rem; text-align: center; color: #777; }
      .status-text { font-size: 2rem; color: #777; text-align: center; text-transform: uppercase; }
      .exception-message { font-size: 1rem; color: #777; text-align: center; }
      .copyright { width: 100%; text-align: center; color: #777; font-size: 12px; }
	  </style>
  {% endblock %}
</head>
<body>

  <div class="container pt-5">
    <div class="row pt-5">
      <div class="col-sm-6 offset-sm-3">
        <div class="status-code">{{ status_code }}</div>
        <div class="status-text">{{ status_text|trans }}</div>
        {% if status_code == 404 %}
          <div class="exception-message">{{ "Désolé, nous n'avons pas pu trouver cette page"|trans }}</div>
        {% elseif status_code == 403 %}
          <div class="exception-message">{{ "Vous n'êtes pas autorisé à accéder à cette page"|trans }}</div>
        {% else %}
          <div class="exception-message">Un erreur est survenu <span style="display:none; isibility:hidden">{{ exception.message|trans }}</span></div>
        {% endif %}
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-sm-2 offset-sm-4">
        <a href="#" class="btn btn-outline-secondary rounded-0 shadow-none d-block" onclick="history.go(-1);">
          <i class="bi bi-arrow-left"></i>
          {{ "Retour"|trans }}
        </a>
      </div>
      <div class="col-sm-2 pl-0 pl-xs-15">
        <a href="mailto:contact@218labs.ma" class="btn btn-outline-primary rounded-0 shadow-none d-block">
          <i class="bi bi-envelope"></i>
          {{ "Contactez-nous"|trans }}
        </a>
      </div>
    </row>
	</div> 

</body>
</html>
